.portfolio-item {
    margin-bottom: 25px;
}
#world_map
{
    margin-left: auto;
    margin-right: auto;
}

.panel-collapse .panel-body
{
    padding: 0px !important;
}

.panel-body .panel-group
{
    margin-bottom: 0px !important;
}

.jvectormap-container
{
background-color: #f9f9fb !important;

}

.panel-body .collapsed
{
    color: #9B9CA0 !important;
}

#submenu > ul, ol
 {
     margin-right: 3px;
     font-size: 11px;
     padding-left: 15px;
     margin-bottom:-5px !important;
 }
#submenu > li {
    font-size: 11px;
    margin: 3px 0;
    margin-bottom:-5px !important;
}

#submenu2 > ul, ol
{
    margin-right: 3px;
    font-size: 11px;
    padding-left: 11px;
    margin-bottom:-5px !important;
}
#submenu2 > li {
    font-size: 11px;
    margin: 3px 0;
    margin-bottom:-5px !important;
}