<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; Arca</span>
      </div>

      <% if request.env['ORIGINAL_FULLPATH'] == '/' %>
          <div class="col-md-4" style="font-size: 12px; font-family: Gotham-Light; font-weight: bolder">
            <span class="list-inline quicklinks">Desarrollado por: Kelvin Guerrero, Santiago Villaveces, Francisco J. Murcia</span>
          </div>
      <% end %>

    </div>
  </div>
</footer>

