<br>
<h1>Dashboard ARCA</h1>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://public.tableau.com/javascripts/api/tableau-2.0.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <script>
    /**
     * Instantiate our vizualization.
     */
    $(function() {
      var url  = this.url;
      var size = findDashboardSize();
      var vizOptions = {
        showTabs           : true,
        hideToolbar        : true,
        width              : size.width + "px",
        height             : size.height + "px",
        onFirstInteractive : function (e) {
          $('.viz iframe').attr("scrolling","no");
          $('.viz iframe').css('overflow', 'hidden');
        }
      };

      new tableauSoftware.Viz(document.getElementById('viz'), url, vizOptions)
    });

    /**
     * Finds the correct size of the dashboard in this screen.
     */
    function findDashboardSize() {
      var minHeight = 630;
      var maxHeight = 885;
      var minWidth  = 1000;

      // The minus 100px leaves us room for the header/footer. Adjust as needed.
      var height = $('body').height() - 100;

      if (height < minHeight) {
        height = minHeight;
      }
      if (height > maxHeight) {
        height = maxHeight;
      }

      var width = Math.round(height/(minHeight/minWidth));
      return {
        'width'  : width,
        'height' : height
      }
    }

    /**
     * Resizes our viz.
     */
    function resize() {
      var size = findDashboardSize();
      $('#viz').width(size.width);
      $('#viz').height(size.height);
      $('#viz iframe').attr("scrolling","no");
      $('#viz iframe').css('overflow', 'hidden');
      $('#viz iframe').width(size.width);
      $('#viz iframe').height(size.height + 20);
    }

    /**
     * Hook into the window resize event to resize when the user resizes the screen.
     */
    $(window).resize(resize);
  </script>
</head>
<div align="center">
  <div class='tableauPlaceholder' id='viz1498152898298' style='position: relative'>
    <noscript><a href='#'>
      <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;DemoArteColonialAmericano3_0&#47;ARCA-Estadsticasgenerales&#47;1_rss.png' style='border: none' />
    </a>
    </noscript>
    <object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='site_root' value='' />
      <param name='name' value='DemoArteColonialAmericano3_0&#47;ARCA-Estadsticasgenerales' />
      <param name='tabs' value='yes' /><param name='toolbar' value='yes' />
      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;De&#47;DemoArteColonialAmericano3_0&#47;ARCA-Estadsticasgenerales&#47;1.png' />
      <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
    </object></div>
  </div>
  <script type='text/javascript'>
    var divElement = document.getElementById('viz1498152898298');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width='1004px';vizElement.style.height='1695px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
  </script>
